<section id="login" class="padded">

    <h2 class="text-center">Iniciar sesión</h2>
    <div class="row">
        <div class="col-md-4"> </div>
        <div class="col-md-4">
            <form action=""   > 
            
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Usuario">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" placeholder="Contraseña">
            </div>
            <div class="mb-3">
                <input type="submit" class="btn btn-primary" value="Iniciar sesion" >
            </div> 
          </form> 
        </div>
        <div class="col-md-4"> </div> 
    </div>

</section>
